/* ImageGallery.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.carousel {
  margin-top: 0;
  z-index: 0;
}

.carousel-item {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roomForm {
  clear: both;
}

#carouselExampleIndicators {
  margin-top: 0;
  padding-top: 0;
  z-index: -1;
  /* Set a lower z-index */
}

@media (max-width: 1200px) {
  .carousel-item {
    height: 75vh;
    /* Adjust height for medium screens */
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 50vh;
    /* Adjust height for small screens */
  }

  .carousel-indicators {
    display: none;
  }
}

/* Add extra padding under the image gallery */
.image-gallery-container {
  padding-bottom: 20px;
}


#carousel:before {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#carousel .container {
  z-index: 2;
}

#carousel h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#carousel h1 span {
  border-bottom: 4px solid #3498db;
}

#carousel h2 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 24px;
}

#carousel .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #3498db;
  text-transform: uppercase;
}

#carousel .btn-get-started:hover {
  background: #4ea5e0;
}

@media (max-width: 992px) {
  #carousel {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 768px) {
  #carousel h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #carousel h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}