/* ImageGallery.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.carousel {
  margin-top: 0;
  /* Ensure no space at the top of the carousel */
}

.carousel-item {
  height: 50vh;
  /* For larger screens */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.roomForm {
  clear: both;
}

#carouselExampleIndicators {
  margin-top: 0;
  padding-top: 0;
  z-index: -1;
  /* Set a lower z-index */
}

@media (max-width: 1200px) {
  .carousel-item {
    height: 75vh;
    /* Adjust height for medium screens */
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 50vh;
    /* Adjust height for small screens */
  }

  .carousel-indicators {
    display: none;
  }
}