/* NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 40px;
  /* Adjusted padding */
  z-index: 1;
  /* High z-index to ensure it overlays other elements */
  color: white;
  transition: background-color 0.3s ease;
}

#carouselExampleIndicators {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust this as needed */
}

.navbar-logo {
  padding: 10px 40px;
  height: 75px;
}

.navbar-menu {
  display: flex;
  padding: 10px 40px;
  align-items: center;
}

.navbar-menu a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-menu.active {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1); /* Light white background with some transparency */
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 1px solid white; /* Thin white border */
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1); /* Light white background with some transparency */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white; /* Thin white border */
}

@media (max-width: 767px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 60%;
    padding: 10px 20px;
  }

  .navbar-menu.active {
    display: flex;
    padding: 10px 20px;
    /* Ensure padding is applied here as well */
  }

  .navbar-menu a {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
  }

  .navbar-menu a:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggle {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); /* Light white background with some transparency */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white; /* Thin white border */
    margin-right: 20px; /* Add this line */
  }
}
