.room-form {
    display: flex;
    width: 100%;
    height: 200px; /* adjust as needed */
    border: 1px solid black;
}

.capacity {
    flex: 1;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.number, .price {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.number {
    border-bottom: 1px solid black;
}